.side-bar{
    padding: 20px;
}
body{
    background-color: #6F323C;
    color: #f5deb3;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
.wheat{
    color: #f5deb3;
}
.navbar{
    background-color: #6F323C;
}
a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: bisque;
}
.bi{
    font-size: 25px;
}
.btn-transparent {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.5rem; /* Adjust size if needed */
}

/* Remove dropdown icon */
.btn-transparent::after {
    display: none;
}

.search-bar {
    transition: width 0.4s ease, visibility 0.4s ease;
}

.expanded {
    width: 250px !important; /* Adjust width as needed */
    visibility: visible !important;
}
.sign-up{
    font-weight: bold;
    color: black;
    background-color: wheat;
    border-color: wheat;
}

.search-btn {
    color: black;
    background-color: wheat;
    border-color: wheat;
}

.play-button {
    height: 2vh;
    width: 2vh;
    background-color: wheat;
    border-radius: 2vh;
}

.custom-card {

}

.custom-icon {
    width: 50px;
    height: 50px;
}

.hover {
    background-color: #6F323C; 
} 

.hover:hover {
    background-color: #6f323c6e;
}